body{
    background-color: #82A994 !important;
}
.bejegyzesek{
    border-radius:10px;
    background-color:rgba(211, 211, 211, 0.9) ;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;   
}
.card{
    text-align: center;
    background-color: #d5ece4;
    border-radius: 30px;
    margin-bottom: 2em;
}
.card a{
    text-decoration: none;
    color: black;
}
.list-group-item{
    text-align: center; 
    background-color: #d5ece4;
    border-radius: 30px;
}