body{
    background-color: #82A994 !important;
}
.bejegyzesek{
    border-radius:10px;
    background-color:rgba(245, 245, 245, 0.9) ;

    margin-bottom: 1em;
    padding: 1em;   
}
.card{
    text-align: center;
    background-color: #d5ece4;
    border-radius: 30px;
    border: 1em;
    border-color:#9cc5b8;
    margin-bottom: 2em;
}
.card a{
    text-decoration: none;
    color: black;
}
.list-group-item{
    text-align: center; 
    background-color: #d5ece4;
    border-radius: 30px;
}
.profilL .list-group-item{
    text-align: start;
    border: none;
    background-color: transparent;
}
.szivKarty{
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "karty";
}
.szivKarty:hover{
    background-color: silver;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "karty";
}
.sziv{
    margin-inline-start:auto;
    margin-inline-end: 0.ch;
    width: auto;
    max-width: 6ch;
    height: 1em;
    z-index: 999 !important;
    margin-block-start:0.8em;
    color: coral;
    grid-area: karty;
}
.sziv:hover{
    color:red;
}
.szivKep{
    z-index: 1 !important;
    grid-area: karty;
    width: 100%;
}

#egyAllat{
    /*text-align: right;*/
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #d5ece4;
    color: #1c643e;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.blockB {
    display: block;
    width: 100%;
    border: none;
    background-color: #6bbb9f;
    color: black;
    padding: 5.5px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.blockC {
    display: block;
    width: 100%;
    border: none;
    background-color: #b3d3c8;
    color: #1c643e;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.ezIde{
    border:5px solid;
    border-color: #EAEEEB;
    background-color: #d5ece4;
}